.testimonials-list .comments .comment .comment{
	box-shadow: -2px 1px 1px #D0D0D0;
}
.testimonials-list .initial-comment{
	padding: 20px 0px 10px 20px;
}
.testimonials-list .comment form{
	padding: 20px 20px 0px 20px;
}
.testimonials-list .comments .comment form{
	padding: 20px 20px 0px 0px;
}
.testimonials-list .comments .comment{
	padding: 0px 0px 10px 20px;
	margin-left: 20px;
	margin-top: 0px;
	position: relative;
	z-index: 10;
	background: #FFF;
}
.testimonials-list .comment .abs-pos.label-bar{
	position: absolute;
	z-index: 100;
	top: 5px;
	right: 5px;
	padding: 5px;
	display: none;
}
.testimonials-list .abs-pos .add-reply {
	color: #FFF!important;
	text-decoration: none!important;
}
.testimonials-list .comments .comment:hover{
	background: rgba(0, 0, 0, 0.02);

}
.testimonials-list .comments .comment > div:not(.comment){
	padding-top: 20px;
}
.testimonials-list .comments .comment > div:hover > .abs-pos.label-bar {
	display: inline-block!important;
}